@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600&display=swap');
body
{
    background-color: lavender;
}

.main-container
{
    font-family: 'Raleway', sans-serif;;
    color:lavender;
}